{% extends "login_base.html" %}

{% block webtittle %}
<title>Login - Giant Fish</title>
{% endblock %}

{% block header%}

<h2 style="text-align:center;"><strong>Login</strong></h2>
{% if form.errors %}
<p style="color:#555; text-align:center;" >Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

{% endblock %}



{% block content %}

     <div class="contact-form">
<form method="post" action="{% url 'login' %}">
     <div class="signin">

{% csrf_token %}
    {{ form.username }}
    {{ form.password }}

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>

</div>
<input id="sign-in" type="submit" value="Sign In" />

<input type="hidden" name="next" value="{{ next }}" />
</form>
<button id="sign-up" onclick="window.location.href = '{% url 'register' %}';">Sign Up</button>
</div>


{% endblock %}

{% block script %}
<script type="text/javascript">
    var el = document.getElementById('id_username'); 
    el.setAttribute("class", "user");
    el.setAttribute("onfocus", "this.value = '';");
    el.setAttribute("onblur","if (this.value == '') {this.value = 'Username';}");
    el = document.getElementById('id_password'); 
    el.setAttribute("class", "pass");
    el.setAttribute("onfocus", "this.value = '';");
    el.setAttribute("onblur","if (this.value == '') {this.value = 'Password';}");
</script>
{% endblock %}
